body {
}

header {
    text-align: center;
    font-size: 15pt;
}

main {
    width: 700px;
    margin: 0 auto;
}

.form-group {
    margin: 35px;
}

#survey-form {
    background-color: rgba(100, 100, 100, 0.45);
    box-shadow: 5px 5px 5px;
    border-radius: 5px;
    padding: 15px;
}

input[type=text], input[type=email] {
    margin-left: 5px;
    padding: 15px;
    border-radius: 5px;
    width: 100%;
}

ul {
    list-style-type: none;
    padding-left: 30px;
}

div p {
    display: inline;
}

textarea {
    display: block;
    width: 100%;
    margin-top: 5px;
    padding: 5px;
    border-radius: 5px;
}

input[type=submit] {
    border-radius: 5px;
    padding: 15px;
}